<div class="row">
    <div class="col-lg-6 mb-5">
        <div class="card card-custom border border-dark">
            <div class="card-body">
            <i class="flaticon2-paper icon-2x"></i>
                <span class="text-dark font-weight-bolder font-size-h2 mt-3 pt-3 pl-3">@Model["approve_payment_ticket"]</span>
                <div><a href="#" class="text-muted text-hover-primary font-weight-bold font-size-lg mt-1">Waiting For Payment</a></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-5">
        <div class="card card-custom border border-dark">
            <div class="card-body">
                <i class="flaticon2-paper icon-2x"></i>
                <span class="text-dark font-weight-bolder font-size-h2 mt-3 pt-3 pl-3">@Model["paid_ticket"]</span>
                <div><a href="#" class="text-muted text-hover-primary font-weight-bold font-size-lg mt-1">Payment History</a></div>
            </div>
        </div>
    </div>
</div>