USE [db_tufol]
GO
/****** Object:  Table [dbo].[log_vendor]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log_vendor](
	[log_id] [varchar](60) NOT NULL,
	[vendor_number] [varchar](15) NOT NULL,
	[process] [varchar](256) NOT NULL,
	[note] [text] NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_bank]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_bank](
	[bank_id] [char](7) NOT NULL,
	[country_of_origin] [varchar](3) NULL,
	[name] [varchar](100) NOT NULL,
	[swift_code] [varchar](15) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bank_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_company]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_company](
	[company_id] [char](4) NOT NULL,
	[name] [varchar](256) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_company_group]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_company_group](
	[company_id] [char](4) NOT NULL,
	[vendor_type_id] [smallint] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[company_id] ASC,
	[vendor_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_country]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_country](
	[country_id] [varchar](3) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_currency]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_currency](
	[currency_id] [varchar](5) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[currency_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_gl]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_gl](
	[gl_id] [char](8) NOT NULL,
	[name] [varchar](256) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[gl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_location]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_location](
	[location_id] [varchar](4) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_po_type]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_po_type](
	[po_type_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[po_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_province]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_province](
	[province_id] [char](5) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[province_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_scheme_group]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_scheme_group](
	[scheme_group_id] [char](2) NOT NULL,
	[name] [varchar](256) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[scheme_group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_sg_categories]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_sg_categories](
	[sg_category_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sg_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_sg_category_group]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_sg_category_group](
	[sg_category_id] [tinyint] NOT NULL,
	[vendor_type_id] [smallint] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sg_category_id] ASC,
	[vendor_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_tax_account_group]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_tax_account_group](
	[account_group_id] [char](1) NOT NULL,
	[description] [varchar](256) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_tax_account_type]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_tax_account_type](
	[account_group_id] [char](1) NOT NULL,
	[tax_type_id] [smallint] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_group_id] ASC,
	[tax_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_tax_number_type]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_tax_number_type](
	[tax_number_type_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[sap_code] [tinyint] NULL,
	[name] [varchar](150) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tax_number_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_tax_number_type_group]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_tax_number_type_group](
	[account_group_id] [char](1) NOT NULL,
	[tax_number_type_id] [tinyint] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_group_id] ASC,
	[tax_number_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_tax_status]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_tax_status](
	[tax_status_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tax_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_tax_type]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_tax_type](
	[tax_type_id] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](256) NOT NULL,
	[wht_code] [varchar](5) NULL,
	[rates] [varchar](100) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tax_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_title]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_title](
	[title_id] [varchar](10) NOT NULL,
	[category] [varchar](10) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[title_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_top]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_top](
	[top_id] [varchar](5) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[baseline_date] [varchar](20) NOT NULL,
	[interval] [smallint] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[top_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_vendor_type]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_vendor_type](
	[vendor_type_id] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](256) NOT NULL,
	[sap_code] [char](4) NULL,
	[scheme_group_id] [char](2) NULL,
	[gl_id] [char](8) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
 CONSTRAINT [PK__m_vendor__06771F3BD0C3AFE3] PRIMARY KEY CLUSTERED 
(
	[vendor_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_verification_status]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_verification_status](
	[verification_status_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[label_for_vendor] [varchar](100) NOT NULL,
	[label_for_intern] [varchar](100) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[verification_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_menu]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_menu](
	[menu_id] [int] IDENTITY(1,1) NOT NULL,
	[label] [varchar](100) NOT NULL,
	[endpoint] [varchar](256) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[menu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_permission]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_permission](
	[permission_id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [tinyint] NOT NULL,
	[menu_id] [int] NOT NULL,
	[allow_read] [bit] NOT NULL,
	[allow_create] [bit] NOT NULL,
	[allow_update] [bit] NOT NULL,
	[allow_delete] [bit] NOT NULL,
	[allow_approve] [bit] NOT NULL,
	[allow_revise] [bit] NOT NULL,
	[allow_reject] [bit] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_procurement_group]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_procurement_group](
	[initial_area] [varchar](10) NOT NULL,
	[person_number] [varchar](10) NOT NULL,
	[email] [varchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[initial_area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_role]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_role](
	[role_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_user]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [tinyint] NOT NULL,
	[username] [varchar](60) NOT NULL,
	[password] [varchar](256) NOT NULL,
	[email] [varchar](256) NULL,
	[last_login] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[name] [varchar](100) NULL,
	[initial_area] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[temp_company_relations]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_company_relations](
	[company_relation_id] [int] IDENTITY(1,1) NOT NULL,
	[vendor_id] [int] NOT NULL,
	[company_id] [char](4) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[company_relation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[temp_log_vendor_status]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_log_vendor_status](
	[log_id] [varchar](1) NOT NULL,
	[vendor_id] [int] NOT NULL,
	[verification_status_id] [tinyint] NOT NULL,
	[verification_note] [text] NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[temp_vendor]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_vendor](
	[vendor_id] [int] IDENTITY(1,1) NOT NULL,
	[vendor_number] [varchar](15) NULL,
	[type] [varchar](20) NULL,
	[vendor_type_id] [smallint] NOT NULL,
	[sg_category_id] [tinyint] NOT NULL,
	[currency_id] [varchar](5) NOT NULL,
	[top_id] [varchar](5) NULL,
	[title_id] [varchar](10) NOT NULL,
	[name] [varchar](256) NOT NULL,
	[contact_person] [varchar](256) NOT NULL,
	[search_term] [varchar](20) NOT NULL,
	[street_address] [varchar](60) NOT NULL,
	[additional_street_address] [varchar](40) NULL,
	[city] [varchar](60) NOT NULL,
	[postal_code] [varchar](6) NOT NULL,
	[country_id] [varchar](3) NOT NULL,
	[telephone] [varchar](20) NOT NULL,
	[fax] [varchar](20) NULL,
	[email] [varchar](132) NOT NULL,
	[tax_type_id] [smallint] NOT NULL,
	[tax_number_type_id] [tinyint] NOT NULL,
	[npwp] [varchar](30) NULL,
	[id_card_number] [varchar](30) NULL,
	[sppkp_number] [varchar](40) NULL,
	[localidr_bank_id] [char](7) NULL,
	[localidr_bank_account] [numeric](20, 0) NULL,
	[localidr_account_holder] [varchar](256) NULL,
	[localforex_bank_id] [char](7) NULL,
	[localforex_bank_account] [numeric](20, 0) NULL,
	[localforex_account_holder] [varchar](256) NULL,
	[localforex_currency_id] [varchar](5) NULL,
	[foreign_bank_country_id] [varchar](3) NULL,
	[foreign_bank_id] [char](7) NULL,
	[foreign_bank_name] [varchar](100) NULL,
	[foreign_bank_swift_code] [varchar](15) NULL,
	[foreign_bank_account] [numeric](20, 0) NULL,
	[foreign_account_holder] [varchar](256) NULL,
	[foreign_currency_id] [varchar](5) NULL,
	[reference_correspondent] [varchar](60) NULL,
	[reference_country_origin] [varchar](60) NULL,
	[pic_id] [varchar](10) NULL,
	[file_id_card] [varchar](256) NOT NULL,
	[file_npwp] [varchar](256) NULL,
	[file_sppkp] [varchar](256) NULL,
	[file_vendor_statement] [varchar](256) NULL,
	[verification_status_id] [tinyint] NOT NULL,
	[verification_note] [text] NULL,
	[position_data] [tinyint] NOT NULL,
	[token] [varchar](70) NULL,
	[verified_email] [tinyint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[is_extension] [bit] NOT NULL,
	[status_rpa] [bit] NOT NULL,
	[rpa_status_description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[vendor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tr_company_relations]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tr_company_relations](
	[company_relation_id] [int] IDENTITY(1,1) NOT NULL,
	[vendor_number] [varchar](15) NOT NULL,
	[company_id] [char](4) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[company_relation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tr_vendor]    Script Date: 30/06/2021 10:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tr_vendor](
	[vendor_number] [varchar](15) NOT NULL,
	[vendor_type_id] [smallint] NOT NULL,
	[sg_category_id] [tinyint] NULL,
	[currency_id] [varchar](5) NOT NULL,
	[top_id] [varchar](5) NULL,
	[title_id] [varchar](10) NOT NULL,
	[name] [varchar](256) NOT NULL,
	[contact_person] [varchar](256) NOT NULL,
	[search_term] [varchar](20) NOT NULL,
	[street_address] [varchar](60) NOT NULL,
	[additional_street_address] [varchar](40) NULL,
	[city] [varchar](60) NOT NULL,
	[postal_code] [varchar](6) NOT NULL,
	[country_id] [varchar](3) NOT NULL,
	[telephone] [varchar](20) NOT NULL,
	[fax] [varchar](20) NULL,
	[email] [varchar](132) NOT NULL,
	[tax_type_id] [smallint] NOT NULL,
	[tax_number_type_id] [tinyint] NOT NULL,
	[npwp] [varchar](30) NULL,
	[id_card_number] [varchar](30) NULL,
	[sppkp_number] [varchar](40) NULL,
	[localidr_bank_id] [char](7) NULL,
	[localidr_bank_account] [numeric](20, 0) NULL,
	[localidr_bank_holder] [varchar](256) NULL,
	[localforex_bank_id] [char](7) NULL,
	[localforex_bank_account] [numeric](20, 0) NULL,
	[localforex_bank_holder] [varchar](256) NULL,
	[localforex_currency_id] [varchar](5) NULL,
	[foreign_bank_id] [char](7) NULL,
	[foreign_bank_account] [numeric](20, 0) NULL,
	[foreign_account_holder] [varchar](256) NULL,
	[foreign_currency_id] [varchar](5) NULL,
	[reference_correspondent] [varchar](60) NULL,
	[reference_country_origin] [varchar](60) NULL,
	[pic_id] [varchar](10) NULL,
	[file_id_card] [varchar](256) NOT NULL,
	[file_npwp] [varchar](256) NULL,
	[file_sppkp] [varchar](256) NULL,
	[file_vendor_statement] [varchar](256) NULL,
	[is_locked] [bit] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[foreign_bank_country_id] [varchar](3) NULL,
	[change_request_status] [tinyint] NOT NULL,
	[change_request_note] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[vendor_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[m_bank] ([bank_id], [country_of_origin], [name], [swift_code], [created_at], [updated_at]) VALUES (N'0010000', N'ID', N'BANK INDONESIA KP JAKARTA', NULL, CAST(N'2021-06-10T10:05:39.517' AS DateTime), CAST(N'2021-06-10T10:05:39.517' AS DateTime))
INSERT [dbo].[m_bank] ([bank_id], [country_of_origin], [name], [swift_code], [created_at], [updated_at]) VALUES (N'0010016', N'ID', N'BANK INDONESIA', N'INDOIDJA', CAST(N'2021-06-10T10:01:10.120' AS DateTime), CAST(N'2021-06-10T10:01:10.120' AS DateTime))
INSERT [dbo].[m_bank] ([bank_id], [country_of_origin], [name], [swift_code], [created_at], [updated_at]) VALUES (N'0010100', N'ID', N'BI CABANG BANDUNG,BDG', N'INDOIDJA010', CAST(N'2021-06-10T10:01:10.120' AS DateTime), CAST(N'2021-06-10T10:01:10.120' AS DateTime))
GO
INSERT [dbo].[m_company] ([company_id], [name], [created_at], [updated_at]) VALUES (N'8100', N'PT. INDESSO PRIMATAMA', CAST(N'2021-06-10T07:39:26.483' AS DateTime), CAST(N'2021-06-10T07:39:26.483' AS DateTime))
INSERT [dbo].[m_company] ([company_id], [name], [created_at], [updated_at]) VALUES (N'8200', N'PT. INDESSO AROMA', CAST(N'2021-06-10T07:39:26.483' AS DateTime), CAST(N'2021-06-10T07:39:26.483' AS DateTime))
INSERT [dbo].[m_company] ([company_id], [name], [created_at], [updated_at]) VALUES (N'8300', N'PT. INDESSO NIAGATAMA', CAST(N'2021-06-10T07:39:26.483' AS DateTime), CAST(N'2021-06-10T07:39:26.483' AS DateTime))
GO
INSERT [dbo].[m_company_group] ([company_id], [vendor_type_id], [created_at], [updated_at]) VALUES (N'8100', 8, CAST(N'2021-06-29T18:09:54.070' AS DateTime), CAST(N'2021-06-29T18:09:54.070' AS DateTime))
INSERT [dbo].[m_company_group] ([company_id], [vendor_type_id], [created_at], [updated_at]) VALUES (N'8100', 9, CAST(N'2021-06-29T18:09:54.070' AS DateTime), CAST(N'2021-06-29T18:09:54.070' AS DateTime))
INSERT [dbo].[m_company_group] ([company_id], [vendor_type_id], [created_at], [updated_at]) VALUES (N'8100', 15, CAST(N'2021-06-29T18:09:54.070' AS DateTime), CAST(N'2021-06-29T18:09:54.070' AS DateTime))
GO
INSERT [dbo].[m_country] ([country_id], [name], [created_at], [updated_at]) VALUES (N'AD', N'Andorra', CAST(N'2021-06-10T10:40:48.343' AS DateTime), CAST(N'2021-06-10T10:40:48.343' AS DateTime))
INSERT [dbo].[m_country] ([country_id], [name], [created_at], [updated_at]) VALUES (N'AE', N'United Arab Emirates', CAST(N'2021-06-10T10:40:48.343' AS DateTime), CAST(N'2021-06-10T10:40:48.343' AS DateTime))
INSERT [dbo].[m_country] ([country_id], [name], [created_at], [updated_at]) VALUES (N'AF', N'Afghanistan', CAST(N'2021-06-10T10:40:48.343' AS DateTime), CAST(N'2021-06-10T10:40:48.343' AS DateTime))
GO
INSERT [dbo].[m_currency] ([currency_id], [name], [created_at], [updated_at]) VALUES (N'AUD', N'Australian Dollar', CAST(N'2021-06-13T23:48:16.150' AS DateTime), CAST(N'2021-06-13T23:48:16.150' AS DateTime))
INSERT [dbo].[m_currency] ([currency_id], [name], [created_at], [updated_at]) VALUES (N'CHF', N'Swiss Franc', CAST(N'2021-06-13T23:48:16.150' AS DateTime), CAST(N'2021-06-13T23:48:16.150' AS DateTime))
INSERT [dbo].[m_currency] ([currency_id], [name], [created_at], [updated_at]) VALUES (N'CNY', N'China Renminbi', CAST(N'2021-06-13T23:48:16.150' AS DateTime), CAST(N'2021-06-13T23:48:16.150' AS DateTime))
GO
INSERT [dbo].[m_gl] ([gl_id], [name], [created_at], [updated_at]) VALUES (N'21111000', N'	Account Payable Trade - Local', CAST(N'2021-06-10T07:29:24.677' AS DateTime), CAST(N'2021-06-10T07:29:24.677' AS DateTime))
INSERT [dbo].[m_gl] ([gl_id], [name], [created_at], [updated_at]) VALUES (N'21112000', N'	Account Payable Trade - Import', CAST(N'2021-06-10T07:29:24.677' AS DateTime), CAST(N'2021-06-10T07:29:24.677' AS DateTime))
INSERT [dbo].[m_gl] ([gl_id], [name], [created_at], [updated_at]) VALUES (N'21121000', N'	Account Payable Non Trade', CAST(N'2021-06-10T07:29:24.677' AS DateTime), CAST(N'2021-06-10T07:29:24.677' AS DateTime))
GO
INSERT [dbo].[m_location] ([location_id], [name], [created_at], [updated_at]) VALUES (N'8200', N'Jakarta', CAST(N'2021-06-14T00:06:43.867' AS DateTime), CAST(N'2021-06-14T00:06:43.867' AS DateTime))
INSERT [dbo].[m_location] ([location_id], [name], [created_at], [updated_at]) VALUES (N'8300', N'Cileungsi', CAST(N'2021-06-14T00:06:43.867' AS DateTime), CAST(N'2021-06-14T00:06:43.867' AS DateTime))
INSERT [dbo].[m_location] ([location_id], [name], [created_at], [updated_at]) VALUES (N'8400', N'Sokaraja', CAST(N'2021-06-14T00:06:43.867' AS DateTime), CAST(N'2021-06-14T00:06:43.867' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[m_po_type] ON 

INSERT [dbo].[m_po_type] ([po_type_id], [name], [created_at], [updated_at]) VALUES (1, N'PO Service', CAST(N'2021-06-13T23:59:11.613' AS DateTime), CAST(N'2021-06-13T23:59:11.613' AS DateTime))
INSERT [dbo].[m_po_type] ([po_type_id], [name], [created_at], [updated_at]) VALUES (2, N'PO Goods/Inventory/Contract', CAST(N'2021-06-13T23:59:11.613' AS DateTime), CAST(N'2021-06-13T23:59:11.613' AS DateTime))
SET IDENTITY_INSERT [dbo].[m_po_type] OFF
GO
INSERT [dbo].[m_province] ([province_id], [name], [created_at], [updated_at]) VALUES (N'70000', N'Aceh', CAST(N'2021-06-13T23:37:14.617' AS DateTime), CAST(N'2021-06-13T23:37:14.617' AS DateTime))
INSERT [dbo].[m_province] ([province_id], [name], [created_at], [updated_at]) VALUES (N'70001', N'Sumatera Utara', CAST(N'2021-06-13T23:37:14.617' AS DateTime), CAST(N'2021-06-13T23:37:14.617' AS DateTime))
INSERT [dbo].[m_province] ([province_id], [name], [created_at], [updated_at]) VALUES (N'70002', N'Sumatera Barat', CAST(N'2021-06-13T23:37:14.617' AS DateTime), CAST(N'2021-06-13T23:37:14.617' AS DateTime))
GO
INSERT [dbo].[m_scheme_group] ([scheme_group_id], [name], [created_at], [updated_at]) VALUES (N'ZF', N'Vendor Fiermenich', CAST(N'2021-06-10T07:17:59.433' AS DateTime), CAST(N'2021-06-10T07:17:59.433' AS DateTime))
INSERT [dbo].[m_scheme_group] ([scheme_group_id], [name], [created_at], [updated_at]) VALUES (N'ZI', N'Vendor Import', CAST(N'2021-06-10T07:17:59.433' AS DateTime), CAST(N'2021-06-10T07:17:59.433' AS DateTime))
INSERT [dbo].[m_scheme_group] ([scheme_group_id], [name], [created_at], [updated_at]) VALUES (N'ZL', N'Vendor Lokal', CAST(N'2021-06-10T07:17:59.433' AS DateTime), CAST(N'2021-06-10T07:17:59.433' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[m_sg_categories] ON 

INSERT [dbo].[m_sg_categories] ([sg_category_id], [name], [created_at], [updated_at]) VALUES (1, N'Inventory', CAST(N'2021-06-10T07:43:09.260' AS DateTime), CAST(N'2021-06-10T07:43:09.260' AS DateTime))
INSERT [dbo].[m_sg_categories] ([sg_category_id], [name], [created_at], [updated_at]) VALUES (2, N'Spareparts (+ Jasa)', CAST(N'2021-06-10T07:43:09.260' AS DateTime), CAST(N'2021-06-10T07:43:09.260' AS DateTime))
INSERT [dbo].[m_sg_categories] ([sg_category_id], [name], [created_at], [updated_at]) VALUES (3, N'Barang selain inventory / spare parts (+ Jasa)', CAST(N'2021-06-10T07:43:09.260' AS DateTime), CAST(N'2021-06-10T07:43:09.260' AS DateTime))
SET IDENTITY_INSERT [dbo].[m_sg_categories] OFF
GO
INSERT [dbo].[m_sg_category_group] ([sg_category_id], [vendor_type_id], [created_at], [updated_at]) VALUES (1, 1, CAST(N'2021-06-29T18:23:21.730' AS DateTime), CAST(N'2021-06-29T18:23:21.730' AS DateTime))
INSERT [dbo].[m_sg_category_group] ([sg_category_id], [vendor_type_id], [created_at], [updated_at]) VALUES (1, 2, CAST(N'2021-06-29T18:23:21.730' AS DateTime), CAST(N'2021-06-29T18:23:21.730' AS DateTime))
INSERT [dbo].[m_sg_category_group] ([sg_category_id], [vendor_type_id], [created_at], [updated_at]) VALUES (1, 3, CAST(N'2021-06-29T18:23:21.730' AS DateTime), CAST(N'2021-06-29T18:23:21.730' AS DateTime))
GO
INSERT [dbo].[m_tax_account_group] ([account_group_id], [description], [created_at], [updated_at]) VALUES (N'a', N'Vendor Trade Affiliated – Indonesia; Vendor Trade Lokal – Malaysia; Vendor Trade Import – Malaysia; Vendor Non Trade - Lokal Malaysia', CAST(N'2021-06-10T07:51:38.257' AS DateTime), CAST(N'2021-06-10T07:51:38.257' AS DateTime))
INSERT [dbo].[m_tax_account_group] ([account_group_id], [description], [created_at], [updated_at]) VALUES (N'b', N'All vendor type in Indonesia except Vendor Trade Affiliated; Vendor Trade Affiliated - Malaysia', CAST(N'2021-06-10T07:51:38.257' AS DateTime), CAST(N'2021-06-10T07:51:38.257' AS DateTime))
INSERT [dbo].[m_tax_account_group] ([account_group_id], [description], [created_at], [updated_at]) VALUES (N'c', N'All Vendor Type and Country that are not included in groups a and b', CAST(N'2021-06-10T07:51:38.257' AS DateTime), CAST(N'2021-06-10T07:51:38.257' AS DateTime))
GO
INSERT [dbo].[m_tax_account_type] ([account_group_id], [tax_type_id], [created_at], [updated_at]) VALUES (N'a', 1, CAST(N'2021-06-14T09:47:19.227' AS DateTime), CAST(N'2021-06-14T09:47:19.227' AS DateTime))
INSERT [dbo].[m_tax_account_type] ([account_group_id], [tax_type_id], [created_at], [updated_at]) VALUES (N'a', 2, CAST(N'2021-06-14T09:47:19.227' AS DateTime), CAST(N'2021-06-14T09:47:19.227' AS DateTime))
INSERT [dbo].[m_tax_account_type] ([account_group_id], [tax_type_id], [created_at], [updated_at]) VALUES (N'a', 3, CAST(N'2021-06-14T09:47:19.227' AS DateTime), CAST(N'2021-06-14T09:47:19.227' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[m_tax_number_type] ON 

INSERT [dbo].[m_tax_number_type] ([tax_number_type_id], [sap_code], [name], [created_at], [updated_at]) VALUES (1, 99, N'NPWP -> Non PKP', CAST(N'2021-06-10T08:30:49.077' AS DateTime), CAST(N'2021-06-10T08:30:49.077' AS DateTime))
INSERT [dbo].[m_tax_number_type] ([tax_number_type_id], [sap_code], [name], [created_at], [updated_at]) VALUES (2, 0, N'NPWP -> PKP', CAST(N'2021-06-10T08:30:49.077' AS DateTime), CAST(N'2021-06-10T08:30:49.077' AS DateTime))
INSERT [dbo].[m_tax_number_type] ([tax_number_type_id], [sap_code], [name], [created_at], [updated_at]) VALUES (3, NULL, N'Non NPWP -> Non PKP', CAST(N'2021-06-10T08:30:49.077' AS DateTime), CAST(N'2021-06-10T08:30:49.077' AS DateTime))
SET IDENTITY_INSERT [dbo].[m_tax_number_type] OFF
GO
INSERT [dbo].[m_tax_number_type_group] ([account_group_id], [tax_number_type_id], [created_at], [updated_at]) VALUES (N'a', 1, CAST(N'2021-06-14T07:29:45.387' AS DateTime), CAST(N'2021-06-14T07:29:45.387' AS DateTime))
INSERT [dbo].[m_tax_number_type_group] ([account_group_id], [tax_number_type_id], [created_at], [updated_at]) VALUES (N'a', 2, CAST(N'2021-06-14T07:29:45.387' AS DateTime), CAST(N'2021-06-14T07:29:45.387' AS DateTime))
INSERT [dbo].[m_tax_number_type_group] ([account_group_id], [tax_number_type_id], [created_at], [updated_at]) VALUES (N'a', 3, CAST(N'2021-06-14T07:29:45.387' AS DateTime), CAST(N'2021-06-14T07:29:45.387' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[m_tax_status] ON 

INSERT [dbo].[m_tax_status] ([tax_status_id], [name], [created_at], [updated_at]) VALUES (1, N'PKP - Taxable Enterprise(s)', CAST(N'2021-06-10T08:33:19.327' AS DateTime), CAST(N'2021-06-10T08:33:19.327' AS DateTime))
INSERT [dbo].[m_tax_status] ([tax_status_id], [name], [created_at], [updated_at]) VALUES (2, N'Non-PKP - Non -Taxable Enterprise(s)', CAST(N'2021-06-10T08:33:19.327' AS DateTime), CAST(N'2021-06-10T08:33:19.327' AS DateTime))
SET IDENTITY_INSERT [dbo].[m_tax_status] OFF
GO
SET IDENTITY_INSERT [dbo].[m_tax_type] ON 

INSERT [dbo].[m_tax_type] ([tax_type_id], [name], [wht_code], [rates], [created_at], [updated_at]) VALUES (1, N'Jasa Pelaksanaan Konstruksi (kecil)', N'W1', N'1A: 2%', CAST(N'2021-06-10T08:21:37.563' AS DateTime), CAST(N'2021-06-10T08:21:37.563' AS DateTime))
INSERT [dbo].[m_tax_type] ([tax_type_id], [name], [wht_code], [rates], [created_at], [updated_at]) VALUES (2, N'Jasa Pelaksanaan Konstruksi (non kualifikasi usaha)', N'W1', N'1B: 4%', CAST(N'2021-06-10T08:21:37.563' AS DateTime), CAST(N'2021-06-10T08:21:37.563' AS DateTime))
INSERT [dbo].[m_tax_type] ([tax_type_id], [name], [wht_code], [rates], [created_at], [updated_at]) VALUES (3, N'Jasa Pelaksanaan Konstruksi (besar & sedang)', N'W1', N'1C: 3%', CAST(N'2021-06-10T08:21:37.563' AS DateTime), CAST(N'2021-06-10T08:21:37.563' AS DateTime))
SET IDENTITY_INSERT [dbo].[m_tax_type] OFF
GO
INSERT [dbo].[m_title] ([title_id], [category], [created_at], [updated_at]) VALUES (N'Company', N'Company', CAST(N'2021-06-13T23:44:15.120' AS DateTime), CAST(N'2021-06-13T23:44:15.120' AS DateTime))
INSERT [dbo].[m_title] ([title_id], [category], [created_at], [updated_at]) VALUES (N'Mr', N'Individual', CAST(N'2021-06-13T23:44:15.120' AS DateTime), CAST(N'2021-06-13T23:44:15.120' AS DateTime))
INSERT [dbo].[m_title] ([title_id], [category], [created_at], [updated_at]) VALUES (N'Mrs', N'Individual', CAST(N'2021-06-13T23:44:15.120' AS DateTime), CAST(N'2021-06-13T23:44:15.120' AS DateTime))
GO
INSERT [dbo].[m_top] ([top_id], [name], [baseline_date], [interval], [created_at], [updated_at]) VALUES (N'Z07I', N'14 Days net date of invoicing date', N'Invoice Date', 14, CAST(N'2021-06-13T23:56:44.013' AS DateTime), CAST(N'2021-06-13T23:56:44.013' AS DateTime))
INSERT [dbo].[m_top] ([top_id], [name], [baseline_date], [interval], [created_at], [updated_at]) VALUES (N'Z14I', N'30 Days net date of invoicing date', N'Invoice Date', 30, CAST(N'2021-06-13T23:56:44.013' AS DateTime), CAST(N'2021-06-13T23:56:44.013' AS DateTime))
INSERT [dbo].[m_top] ([top_id], [name], [baseline_date], [interval], [created_at], [updated_at]) VALUES (N'Z14P', N'14 Days net date of posting date', N'Posting Date', 14, CAST(N'2021-06-13T23:56:44.013' AS DateTime), CAST(N'2021-06-13T23:56:44.013' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[m_vendor_type] ON 

INSERT [dbo].[m_vendor_type] ([vendor_type_id], [name], [sap_code], [scheme_group_id], [gl_id], [created_at], [updated_at]) VALUES (1, N'Vendor Trade Lokal', N'ZK21', N'ZL', N'21111000', CAST(N'2021-06-29T17:47:52.497' AS DateTime), CAST(N'2021-06-29T17:47:52.497' AS DateTime))
INSERT [dbo].[m_vendor_type] ([vendor_type_id], [name], [sap_code], [scheme_group_id], [gl_id], [created_at], [updated_at]) VALUES (2, N'Vendor Lokal RM Natural', N'ZK21', N'ZL', N'21111000', CAST(N'2021-06-29T17:47:52.497' AS DateTime), CAST(N'2021-06-29T17:47:52.497' AS DateTime))
INSERT [dbo].[m_vendor_type] ([vendor_type_id], [name], [sap_code], [scheme_group_id], [gl_id], [created_at], [updated_at]) VALUES (3, N'Vendor Trade Import', N'ZK22', N'ZI', N'21112000', CAST(N'2021-06-29T17:47:52.497' AS DateTime), CAST(N'2021-06-29T17:47:52.497' AS DateTime))
SET IDENTITY_INSERT [dbo].[m_vendor_type] OFF
GO
SET IDENTITY_INSERT [dbo].[m_verification_status] ON 

INSERT [dbo].[m_verification_status] ([verification_status_id], [label_for_vendor], [label_for_intern], [created_at], [updated_at]) VALUES (1, N'Submitted', N'	Submitted', CAST(N'2021-06-23T10:06:38.930' AS DateTime), CAST(N'2021-06-23T10:06:38.930' AS DateTime))
INSERT [dbo].[m_verification_status] ([verification_status_id], [label_for_vendor], [label_for_intern], [created_at], [updated_at]) VALUES (2, N'Need revision', N'	Revised By FC', CAST(N'2021-06-23T10:06:38.930' AS DateTime), CAST(N'2021-06-23T10:06:38.930' AS DateTime))
INSERT [dbo].[m_verification_status] ([verification_status_id], [label_for_vendor], [label_for_intern], [created_at], [updated_at]) VALUES (3, N'Need revision', N'	Revised By Procurement', CAST(N'2021-06-23T10:06:38.930' AS DateTime), CAST(N'2021-06-23T10:06:38.930' AS DateTime))
SET IDENTITY_INSERT [dbo].[m_verification_status] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_menu] ON 

INSERT [dbo].[tb_menu] ([menu_id], [label], [endpoint], [created_at], [updated_at]) VALUES (1, N'Vendor Management', N'VendorManagement', CAST(N'2021-06-15T11:31:05.000' AS DateTime), CAST(N'2021-06-15T11:31:05.000' AS DateTime))
INSERT [dbo].[tb_menu] ([menu_id], [label], [endpoint], [created_at], [updated_at]) VALUES (2, N'Ticketing Barang', N'TicketingBarang', CAST(N'2021-06-15T11:31:05.000' AS DateTime), CAST(N'2021-06-15T11:31:05.000' AS DateTime))
INSERT [dbo].[tb_menu] ([menu_id], [label], [endpoint], [created_at], [updated_at]) VALUES (3, N'Ticketing Jasa', N'TicketingJasa', CAST(N'2021-06-15T11:31:05.000' AS DateTime), CAST(N'2021-06-15T11:31:05.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tb_menu] OFF
GO
INSERT [dbo].[tb_procurement_group] ([initial_area], [person_number], [email]) VALUES (N'AKH/CLS', N'00000048', N'AKH@indesso.com')
INSERT [dbo].[tb_procurement_group] ([initial_area], [person_number], [email]) VALUES (N'BEC/CLS', N'00000154', N'BEC@indesso.com')
INSERT [dbo].[tb_procurement_group] ([initial_area], [person_number], [email]) VALUES (N'ENM/CLS', N'00000191', N'ENM@indesso.com')
GO
SET IDENTITY_INSERT [dbo].[tb_role] ON 

INSERT [dbo].[tb_role] ([role_id], [role_name]) VALUES (1, N'Administrator')
INSERT [dbo].[tb_role] ([role_id], [role_name]) VALUES (2, N'Vendor')
INSERT [dbo].[tb_role] ([role_id], [role_name]) VALUES (3, N'Procurement')
SET IDENTITY_INSERT [dbo].[tb_role] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_user] ON 

INSERT [dbo].[tb_user] ([user_id], [role_id], [username], [password], [email], [last_login], [created_at], [updated_at], [name], [initial_area]) VALUES (1, 1, N'vendor', N'e10adc3949ba59abbe56e057f20f883e', N'v@v.com', NULL, CAST(N'2021-06-15T07:47:26.997' AS DateTime), CAST(N'2021-06-15T07:47:26.997' AS DateTime), NULL, NULL)
INSERT [dbo].[tb_user] ([user_id], [role_id], [username], [password], [email], [last_login], [created_at], [updated_at], [name], [initial_area]) VALUES (2, 2, N'procurement', N'e99a18c428cb38d5f260853678922e03', N'p@p.com', NULL, CAST(N'2021-06-16T08:51:17.323' AS DateTime), CAST(N'2021-06-16T08:51:17.323' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[tb_user] OFF
GO
SET IDENTITY_INSERT [dbo].[temp_company_relations] ON 

INSERT [dbo].[temp_company_relations] ([company_relation_id], [vendor_id], [company_id], [created_at], [updated_at]) VALUES (13, 37, N'8100', CAST(N'2021-06-24T05:31:16.133' AS DateTime), CAST(N'2021-06-24T05:31:16.133' AS DateTime))
INSERT [dbo].[temp_company_relations] ([company_relation_id], [vendor_id], [company_id], [created_at], [updated_at]) VALUES (14, 39, N'8100', CAST(N'2021-06-24T05:51:33.383' AS DateTime), CAST(N'2021-06-24T05:51:33.383' AS DateTime))
INSERT [dbo].[temp_company_relations] ([company_relation_id], [vendor_id], [company_id], [created_at], [updated_at]) VALUES (15, 41, N'8700', CAST(N'2021-06-24T06:06:19.753' AS DateTime), CAST(N'2021-06-24T06:06:19.753' AS DateTime))
SET IDENTITY_INSERT [dbo].[temp_company_relations] OFF
GO
SET IDENTITY_INSERT [dbo].[temp_vendor] ON 

GO
SET IDENTITY_INSERT [dbo].[temp_vendor] OFF
GO
ALTER TABLE [dbo].[log_vendor] ADD  DEFAULT (newid()) FOR [log_id]
GO
ALTER TABLE [dbo].[log_vendor] ADD  DEFAULT (NULL) FOR [note]
GO
ALTER TABLE [dbo].[log_vendor] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[log_vendor] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[m_bank] ADD  DEFAULT (NULL) FOR [country_of_origin]
GO
ALTER TABLE [dbo].[m_bank] ADD  DEFAULT (NULL) FOR [swift_code]
GO
ALTER TABLE [dbo].[m_bank] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[m_bank] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[m_company] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[m_company] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[m_company_group] ADD  DEFAULT (NULL) FOR [company_id]
GO
ALTER TABLE [dbo].[m_company_group] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[m_company_group] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[m_country] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[m_country] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[m_currency] ADD  DEFAULT ('Individual') FOR [name]
GO
ALTER TABLE [dbo].[m_currency] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[m_currency] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[m_gl] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[m_gl] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[m_location] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[m_location] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[m_po_type] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[m_po_type] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[m_province] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[m_province] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[m_scheme_group] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[m_scheme_group] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[m_sg_categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[m_sg_categories] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[m_sg_category_group] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[m_sg_category_group] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[m_tax_account_group] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[m_tax_account_group] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[m_tax_account_type] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[m_tax_account_type] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[m_tax_number_type] ADD  DEFAULT (NULL) FOR [sap_code]
GO
ALTER TABLE [dbo].[m_tax_number_type] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[m_tax_number_type] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[m_tax_number_type_group] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[m_tax_number_type_group] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[m_tax_status] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[m_tax_status] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[m_tax_type] ADD  DEFAULT (NULL) FOR [wht_code]
GO
ALTER TABLE [dbo].[m_tax_type] ADD  DEFAULT (NULL) FOR [rates]
GO
ALTER TABLE [dbo].[m_tax_type] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[m_tax_type] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[m_title] ADD  DEFAULT ('Individual') FOR [category]
GO
ALTER TABLE [dbo].[m_title] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[m_title] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[m_top] ADD  DEFAULT ((0)) FOR [interval]
GO
ALTER TABLE [dbo].[m_top] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[m_top] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[m_vendor_type] ADD  CONSTRAINT [DF__m_vendor___sap_c__5BE2A6F2]  DEFAULT (NULL) FOR [sap_code]
GO
ALTER TABLE [dbo].[m_vendor_type] ADD  CONSTRAINT [DF__m_vendor___schem__5CD6CB2B]  DEFAULT (NULL) FOR [scheme_group_id]
GO
ALTER TABLE [dbo].[m_vendor_type] ADD  CONSTRAINT [DF__m_vendor___creat__5FB337D6]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[m_vendor_type] ADD  CONSTRAINT [DF__m_vendor___updat__60A75C0F]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[m_verification_status] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[m_verification_status] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[tb_menu] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tb_menu] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[tb_permission] ADD  DEFAULT ((1)) FOR [allow_read]
GO
ALTER TABLE [dbo].[tb_permission] ADD  DEFAULT ((0)) FOR [allow_create]
GO
ALTER TABLE [dbo].[tb_permission] ADD  DEFAULT ((0)) FOR [allow_update]
GO
ALTER TABLE [dbo].[tb_permission] ADD  DEFAULT ((0)) FOR [allow_delete]
GO
ALTER TABLE [dbo].[tb_permission] ADD  DEFAULT ((0)) FOR [allow_approve]
GO
ALTER TABLE [dbo].[tb_permission] ADD  DEFAULT ((0)) FOR [allow_revise]
GO
ALTER TABLE [dbo].[tb_permission] ADD  DEFAULT ((0)) FOR [allow_reject]
GO
ALTER TABLE [dbo].[tb_permission] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tb_permission] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[tb_user] ADD  DEFAULT (NULL) FOR [email]
GO
ALTER TABLE [dbo].[tb_user] ADD  DEFAULT (NULL) FOR [last_login]
GO
ALTER TABLE [dbo].[tb_user] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tb_user] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[temp_company_relations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[temp_company_relations] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[temp_log_vendor_status] ADD  DEFAULT ('UUID4') FOR [log_id]
GO
ALTER TABLE [dbo].[temp_log_vendor_status] ADD  DEFAULT (NULL) FOR [verification_note]
GO
ALTER TABLE [dbo].[temp_log_vendor_status] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[temp_log_vendor_status] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [vendor_number]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [type]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [vendor_type_id]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [top_id]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [additional_street_address]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [fax]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [npwp]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [id_card_number]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [sppkp_number]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [localidr_bank_id]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [localidr_bank_account]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [localidr_account_holder]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [localforex_bank_id]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [localforex_bank_account]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [localforex_account_holder]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [localforex_currency_id]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [foreign_bank_country_id]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [foreign_bank_id]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [foreign_bank_name]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [foreign_bank_swift_code]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [foreign_bank_account]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [foreign_account_holder]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [foreign_currency_id]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [reference_correspondent]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [reference_country_origin]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [file_npwp]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [file_sppkp]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [file_vendor_statement]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [verification_note]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [token]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  CONSTRAINT [DF__temp_vend__verif__153B1FDF]  DEFAULT ((0)) FOR [verified_email]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT ((0)) FOR [is_extension]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT ((0)) FOR [status_rpa]
GO
ALTER TABLE [dbo].[temp_vendor] ADD  DEFAULT (NULL) FOR [rpa_status_description]
GO
ALTER TABLE [dbo].[tr_company_relations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tr_company_relations] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [vendor_number]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [vendor_type_id]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [sg_category_id]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [top_id]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [additional_street_address]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [fax]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [npwp]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [id_card_number]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [sppkp_number]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [localidr_bank_id]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [localidr_bank_account]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [localidr_bank_holder]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [localforex_bank_id]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [localforex_bank_account]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [localforex_bank_holder]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [localforex_currency_id]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [foreign_bank_id]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [foreign_bank_account]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [foreign_account_holder]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [foreign_currency_id]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [reference_correspondent]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [reference_country_origin]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [file_npwp]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [file_sppkp]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [file_vendor_statement]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT ((0)) FOR [is_locked]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [foreign_bank_country_id]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT ((0)) FOR [change_request_status]
GO
ALTER TABLE [dbo].[tr_vendor] ADD  DEFAULT (NULL) FOR [change_request_note]
GO
ALTER TABLE [dbo].[m_bank]  WITH CHECK ADD FOREIGN KEY([country_of_origin])
REFERENCES [dbo].[m_country] ([country_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[m_company_group]  WITH CHECK ADD  CONSTRAINT [FK_m_company_group_m_company] FOREIGN KEY([company_id])
REFERENCES [dbo].[m_company] ([company_id])
GO
ALTER TABLE [dbo].[m_company_group] CHECK CONSTRAINT [FK_m_company_group_m_company]
GO
ALTER TABLE [dbo].[m_company_group]  WITH CHECK ADD  CONSTRAINT [FK_m_company_group_m_vendor_type] FOREIGN KEY([vendor_type_id])
REFERENCES [dbo].[m_vendor_type] ([vendor_type_id])
GO
ALTER TABLE [dbo].[m_company_group] CHECK CONSTRAINT [FK_m_company_group_m_vendor_type]
GO
ALTER TABLE [dbo].[m_sg_category_group]  WITH CHECK ADD  CONSTRAINT [FK_m_sg_category_group_m_sg_categories] FOREIGN KEY([sg_category_id])
REFERENCES [dbo].[m_sg_categories] ([sg_category_id])
GO
ALTER TABLE [dbo].[m_sg_category_group] CHECK CONSTRAINT [FK_m_sg_category_group_m_sg_categories]
GO
ALTER TABLE [dbo].[m_sg_category_group]  WITH CHECK ADD  CONSTRAINT [FK_m_sg_category_group_m_vendor_type] FOREIGN KEY([vendor_type_id])
REFERENCES [dbo].[m_vendor_type] ([vendor_type_id])
GO
ALTER TABLE [dbo].[m_sg_category_group] CHECK CONSTRAINT [FK_m_sg_category_group_m_vendor_type]
GO
ALTER TABLE [dbo].[m_tax_account_type]  WITH CHECK ADD FOREIGN KEY([account_group_id])
REFERENCES [dbo].[m_tax_account_group] ([account_group_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[m_tax_account_type]  WITH CHECK ADD FOREIGN KEY([tax_type_id])
REFERENCES [dbo].[m_tax_type] ([tax_type_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[m_tax_number_type_group]  WITH CHECK ADD FOREIGN KEY([account_group_id])
REFERENCES [dbo].[m_tax_account_group] ([account_group_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[m_tax_number_type_group]  WITH CHECK ADD FOREIGN KEY([tax_number_type_id])
REFERENCES [dbo].[m_tax_number_type] ([tax_number_type_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[m_vendor_type]  WITH CHECK ADD  CONSTRAINT [FK_m_vendor_type_m_gl1] FOREIGN KEY([gl_id])
REFERENCES [dbo].[m_gl] ([gl_id])
GO
ALTER TABLE [dbo].[m_vendor_type] CHECK CONSTRAINT [FK_m_vendor_type_m_gl1]
GO
ALTER TABLE [dbo].[m_vendor_type]  WITH CHECK ADD  CONSTRAINT [FK_m_vendor_type_m_scheme_group] FOREIGN KEY([scheme_group_id])
REFERENCES [dbo].[m_scheme_group] ([scheme_group_id])
GO
ALTER TABLE [dbo].[m_vendor_type] CHECK CONSTRAINT [FK_m_vendor_type_m_scheme_group]
GO
ALTER TABLE [dbo].[tb_permission]  WITH CHECK ADD FOREIGN KEY([menu_id])
REFERENCES [dbo].[tb_menu] ([menu_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[tb_user]  WITH CHECK ADD  CONSTRAINT [FK_tb_user_tb_procurement_group] FOREIGN KEY([initial_area])
REFERENCES [dbo].[tb_procurement_group] ([initial_area])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[tb_user] CHECK CONSTRAINT [FK_tb_user_tb_procurement_group]
GO
ALTER TABLE [dbo].[temp_company_relations]  WITH CHECK ADD FOREIGN KEY([vendor_id])
REFERENCES [dbo].[temp_vendor] ([vendor_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[temp_log_vendor_status]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[tb_user] ([user_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[temp_log_vendor_status]  WITH CHECK ADD FOREIGN KEY([vendor_id])
REFERENCES [dbo].[temp_vendor] ([vendor_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[temp_log_vendor_status]  WITH CHECK ADD FOREIGN KEY([verification_status_id])
REFERENCES [dbo].[m_verification_status] ([verification_status_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[temp_vendor]  WITH CHECK ADD  CONSTRAINT [fk_2] FOREIGN KEY([sg_category_id])
REFERENCES [dbo].[m_sg_categories] ([sg_category_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[temp_vendor] CHECK CONSTRAINT [fk_2]
GO
ALTER TABLE [dbo].[temp_vendor]  WITH CHECK ADD  CONSTRAINT [fk_3] FOREIGN KEY([currency_id])
REFERENCES [dbo].[m_currency] ([currency_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[temp_vendor] CHECK CONSTRAINT [fk_3]
GO
ALTER TABLE [dbo].[temp_vendor]  WITH CHECK ADD  CONSTRAINT [fk_4] FOREIGN KEY([top_id])
REFERENCES [dbo].[m_top] ([top_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[temp_vendor] CHECK CONSTRAINT [fk_4]
GO
ALTER TABLE [dbo].[temp_vendor]  WITH CHECK ADD  CONSTRAINT [fk_5] FOREIGN KEY([title_id])
REFERENCES [dbo].[m_title] ([title_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[temp_vendor] CHECK CONSTRAINT [fk_5]
GO
ALTER TABLE [dbo].[temp_vendor]  WITH CHECK ADD  CONSTRAINT [fk_6] FOREIGN KEY([country_id])
REFERENCES [dbo].[m_country] ([country_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[temp_vendor] CHECK CONSTRAINT [fk_6]
GO
ALTER TABLE [dbo].[temp_vendor]  WITH CHECK ADD  CONSTRAINT [fk_7] FOREIGN KEY([tax_type_id])
REFERENCES [dbo].[m_tax_type] ([tax_type_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[temp_vendor] CHECK CONSTRAINT [fk_7]
GO
ALTER TABLE [dbo].[temp_vendor]  WITH CHECK ADD  CONSTRAINT [fk_8] FOREIGN KEY([tax_number_type_id])
REFERENCES [dbo].[m_tax_number_type] ([tax_number_type_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[temp_vendor] CHECK CONSTRAINT [fk_8]
GO
ALTER TABLE [dbo].[temp_vendor]  WITH CHECK ADD  CONSTRAINT [FK_temp_vendor_m_bank] FOREIGN KEY([localidr_bank_id])
REFERENCES [dbo].[m_bank] ([bank_id])
GO
ALTER TABLE [dbo].[temp_vendor] CHECK CONSTRAINT [FK_temp_vendor_m_bank]
GO
ALTER TABLE [dbo].[temp_vendor]  WITH CHECK ADD  CONSTRAINT [FK_temp_vendor_m_bank1] FOREIGN KEY([localforex_bank_id])
REFERENCES [dbo].[m_bank] ([bank_id])
GO
ALTER TABLE [dbo].[temp_vendor] CHECK CONSTRAINT [FK_temp_vendor_m_bank1]
GO
ALTER TABLE [dbo].[temp_vendor]  WITH CHECK ADD  CONSTRAINT [FK_temp_vendor_m_country] FOREIGN KEY([foreign_bank_country_id])
REFERENCES [dbo].[m_country] ([country_id])
GO
ALTER TABLE [dbo].[temp_vendor] CHECK CONSTRAINT [FK_temp_vendor_m_country]
GO
ALTER TABLE [dbo].[temp_vendor]  WITH CHECK ADD  CONSTRAINT [FK_temp_vendor_m_currency] FOREIGN KEY([localforex_currency_id])
REFERENCES [dbo].[m_currency] ([currency_id])
GO
ALTER TABLE [dbo].[temp_vendor] CHECK CONSTRAINT [FK_temp_vendor_m_currency]
GO
ALTER TABLE [dbo].[temp_vendor]  WITH CHECK ADD  CONSTRAINT [FK_temp_vendor_m_currency1] FOREIGN KEY([foreign_currency_id])
REFERENCES [dbo].[m_currency] ([currency_id])
GO
ALTER TABLE [dbo].[temp_vendor] CHECK CONSTRAINT [FK_temp_vendor_m_currency1]
GO
ALTER TABLE [dbo].[temp_vendor]  WITH CHECK ADD  CONSTRAINT [FK_temp_vendor_m_vendor_type] FOREIGN KEY([vendor_type_id])
REFERENCES [dbo].[m_vendor_type] ([vendor_type_id])
GO
ALTER TABLE [dbo].[temp_vendor] CHECK CONSTRAINT [FK_temp_vendor_m_vendor_type]
GO
ALTER TABLE [dbo].[temp_vendor]  WITH CHECK ADD  CONSTRAINT [FK_temp_vendor_m_verification_status] FOREIGN KEY([verification_status_id])
REFERENCES [dbo].[m_verification_status] ([verification_status_id])
GO
ALTER TABLE [dbo].[temp_vendor] CHECK CONSTRAINT [FK_temp_vendor_m_verification_status]
GO
ALTER TABLE [dbo].[temp_vendor]  WITH CHECK ADD  CONSTRAINT [fk_temp_vendor_procurement_group] FOREIGN KEY([pic_id])
REFERENCES [dbo].[tb_procurement_group] ([initial_area])
GO
ALTER TABLE [dbo].[temp_vendor] CHECK CONSTRAINT [fk_temp_vendor_procurement_group]
GO
ALTER TABLE [dbo].[tr_vendor]  WITH CHECK ADD  CONSTRAINT [FK_tr_vendor_m_bank] FOREIGN KEY([localidr_bank_id])
REFERENCES [dbo].[m_bank] ([bank_id])
GO
ALTER TABLE [dbo].[tr_vendor] CHECK CONSTRAINT [FK_tr_vendor_m_bank]
GO
ALTER TABLE [dbo].[tr_vendor]  WITH CHECK ADD  CONSTRAINT [FK_tr_vendor_m_bank1] FOREIGN KEY([localforex_bank_id])
REFERENCES [dbo].[m_bank] ([bank_id])
GO
ALTER TABLE [dbo].[tr_vendor] CHECK CONSTRAINT [FK_tr_vendor_m_bank1]
GO
ALTER TABLE [dbo].[tr_vendor]  WITH CHECK ADD  CONSTRAINT [FK_tr_vendor_m_bank2] FOREIGN KEY([foreign_bank_id])
REFERENCES [dbo].[m_bank] ([bank_id])
GO
ALTER TABLE [dbo].[tr_vendor] CHECK CONSTRAINT [FK_tr_vendor_m_bank2]
GO
ALTER TABLE [dbo].[tr_vendor]  WITH CHECK ADD  CONSTRAINT [FK_tr_vendor_m_country] FOREIGN KEY([country_id])
REFERENCES [dbo].[m_country] ([country_id])
GO
ALTER TABLE [dbo].[tr_vendor] CHECK CONSTRAINT [FK_tr_vendor_m_country]
GO
ALTER TABLE [dbo].[tr_vendor]  WITH CHECK ADD  CONSTRAINT [FK_tr_vendor_m_country1] FOREIGN KEY([foreign_bank_country_id])
REFERENCES [dbo].[m_country] ([country_id])
GO
ALTER TABLE [dbo].[tr_vendor] CHECK CONSTRAINT [FK_tr_vendor_m_country1]
GO
ALTER TABLE [dbo].[tr_vendor]  WITH CHECK ADD  CONSTRAINT [FK_tr_vendor_m_currency] FOREIGN KEY([currency_id])
REFERENCES [dbo].[m_currency] ([currency_id])
GO
ALTER TABLE [dbo].[tr_vendor] CHECK CONSTRAINT [FK_tr_vendor_m_currency]
GO
ALTER TABLE [dbo].[tr_vendor]  WITH CHECK ADD  CONSTRAINT [FK_tr_vendor_m_currency1] FOREIGN KEY([localforex_currency_id])
REFERENCES [dbo].[m_currency] ([currency_id])
GO
ALTER TABLE [dbo].[tr_vendor] CHECK CONSTRAINT [FK_tr_vendor_m_currency1]
GO
ALTER TABLE [dbo].[tr_vendor]  WITH CHECK ADD  CONSTRAINT [FK_tr_vendor_m_currency2] FOREIGN KEY([foreign_currency_id])
REFERENCES [dbo].[m_currency] ([currency_id])
GO
ALTER TABLE [dbo].[tr_vendor] CHECK CONSTRAINT [FK_tr_vendor_m_currency2]
GO
ALTER TABLE [dbo].[tr_vendor]  WITH CHECK ADD  CONSTRAINT [FK_tr_vendor_m_sg_categories] FOREIGN KEY([sg_category_id])
REFERENCES [dbo].[m_sg_categories] ([sg_category_id])
GO
ALTER TABLE [dbo].[tr_vendor] CHECK CONSTRAINT [FK_tr_vendor_m_sg_categories]
GO
ALTER TABLE [dbo].[tr_vendor]  WITH CHECK ADD  CONSTRAINT [FK_tr_vendor_m_tax_number_type] FOREIGN KEY([tax_number_type_id])
REFERENCES [dbo].[m_tax_number_type] ([tax_number_type_id])
GO
ALTER TABLE [dbo].[tr_vendor] CHECK CONSTRAINT [FK_tr_vendor_m_tax_number_type]
GO
ALTER TABLE [dbo].[tr_vendor]  WITH CHECK ADD  CONSTRAINT [FK_tr_vendor_m_tax_type] FOREIGN KEY([tax_type_id])
REFERENCES [dbo].[m_tax_type] ([tax_type_id])
GO
ALTER TABLE [dbo].[tr_vendor] CHECK CONSTRAINT [FK_tr_vendor_m_tax_type]
GO
ALTER TABLE [dbo].[tr_vendor]  WITH CHECK ADD  CONSTRAINT [FK_tr_vendor_m_title] FOREIGN KEY([title_id])
REFERENCES [dbo].[m_title] ([title_id])
GO
ALTER TABLE [dbo].[tr_vendor] CHECK CONSTRAINT [FK_tr_vendor_m_title]
GO
ALTER TABLE [dbo].[tr_vendor]  WITH CHECK ADD  CONSTRAINT [FK_tr_vendor_m_top] FOREIGN KEY([top_id])
REFERENCES [dbo].[m_top] ([top_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[tr_vendor] CHECK CONSTRAINT [FK_tr_vendor_m_top]
GO
ALTER TABLE [dbo].[tr_vendor]  WITH CHECK ADD  CONSTRAINT [FK_tr_vendor_m_vendor_type] FOREIGN KEY([vendor_type_id])
REFERENCES [dbo].[m_vendor_type] ([vendor_type_id])
GO
ALTER TABLE [dbo].[tr_vendor] CHECK CONSTRAINT [FK_tr_vendor_m_vendor_type]
GO
ALTER TABLE [dbo].[tr_vendor]  WITH CHECK ADD  CONSTRAINT [fk_tr_vendor_vendor_procurement_group] FOREIGN KEY([pic_id])
REFERENCES [dbo].[tb_procurement_group] ([initial_area])
GO
ALTER TABLE [dbo].[tr_vendor] CHECK CONSTRAINT [fk_tr_vendor_vendor_procurement_group]
GO
