@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = Localizer["Title"];
}

@* begin::Main Content *@
<div class="row">
    <div class="col-lg-12">
        <div class="card card-custom card-sticky" id="kt_page_sticky_card">
            <form method="POST" class="form" asp-controller="TableManagement" asp-action="EditCompany">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <partial name="_FormCompanyCode" view-data="ViewData">
            </form>
        </div>
    </div>
</div>


@* begin::Main Content *@
@section Scripts{
    <script src="~/js/apps/form_company_code.js?v=1.0.1"></script>
}